html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  list-style: none;
	font-family: "Gotham A","Gotham B",sans-serif;
  font-style: normal;
	color: black;
	// color: white;
}

body {
	background-image: url("https://dl.dropboxusercontent.com/u/4448887/table_background.jpg");
}

#application {
  position: absolute;
	color: white;
	width: 100%;
	height: 100%;
	// background-image: url("https://dl.dropboxusercontent.com/u/4448887/table_background.jpg");
}

.navbar.navbar-default{
	background-color: rgba(255, 255, 255, 0.85);
	border: 0;
	margin-bottom: 0;
}

a.navbar-brand {
	padding-top: 0;
	position: absolute;
	top: 0;
}

.top-buffer {
	margin-top: 30px;
}

.btn.btn-primary {
	color: #fff;
	background-color: #137f6e;
	border-color: darkslategray;
}

.btn.btn-primary:active, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active:focus  {
	background-color: darkslategray;
	border-color: #137f6e;
}

.btn.btn-primary {
	color: #fff;
	background-color: #137f6e;
	border-color: darkslategray;
}

.sign-in, .meal {
  border: 2px solid #137f6e;
  padding: 30px;
	background: rgba(0, 0, 0, 0.7);
	padding-top: 50px;
	padding-bottom: 50px;
}

.sign-in {
	margin-top: 50px;
}

.header {
	color: white;
	margin-top: 0;
}

#sign-up-success.row.hide {
	visibility: hidden;
	height: 0;
	opacity: 0;
}

#sign-up-success > p {
	margin: 5px 0;
	color: #137f6e;
}

#sign-up-success {
	// border: 2px solid white;
	// border-radius: 5px;
	visibility: visible;
	margin-top: -43px;
	position: absolute;
}

.meal .btn.btn-default.remove {
	border: 0;
	background-color: inherit;
	font-size: 20px;
	padding: 0;
}

.meal .remove > span::before {
	border: 0;
  content: "\e014";
	color: #6A7781;
	transition: all 1s ease;
}

.meal .remove:hover > span::before {
	color: red;
	content: "\2212";
}

.btn.btn-primary.create-meal {
	font-size: 20px;
	border-width: 2px;
}

.form-control.invalid {
	border: 1px solid maroon;
	background-color: lightpink;
}

#email {
	display: inline-block;
	width: 75%;
}

table tr:last-child > td[class*="col-"], table th[class*="col-"] {
	border-bottom: 1px solid #ddd;
}

div.rdtPicker {
	position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
}

// .rdtPicker td.active {
// 	background-color: #137f6e;
// }

.rdtDays * {
	color: black;
}

//// for Oauth
