html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  list-style: none;
	font-family: "Gotham A","Gotham B",sans-serif;
  font-style: normal;
	color: #6A7781;
}

#application {
  position: absolute;
	color: white;
	width: 100%;
	height: 100%;
	background-image: url("https://dl.dropboxusercontent.com/u/4448887/table_background.jpg");
}

.btn.btn-primary {
	color: #fff;
	background-color: #137f6e;
	border-color: darkslategray;
}

.btn.btn-primary:active, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active:focus  {
	background-color: darkslategray;
	border-color: #137f6e;
}

.btn.btn-primary {
	color: #fff;
	background-color: #137f6e;
	border-color: darkslategray;
}

.sign-in {
  border: 2px solid #137f6e;
  margin-top: 150px;
  padding: 30px;

	background:
		linear-gradient(
			rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.7)
		),
}

.sign-in h3 {
	color: white;
}

.email-header {
	margin-top: 0;
}

a.navbar-brand {
	padding-top: 0;
}
