html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  list-style: none;
	font-family: "Gotham A","Gotham B",sans-serif;
  font-style: normal;
	color: white;
}

@mixin vertical-align () {
	top: 50%;
	transform: translateY(-50%);
	position: absolute;

}

#attendee-list.hidden {
  display: none !important;

  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all 1s ease;
  // transition: visibility 0s, opacity 3s linear;
}

.element {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 50px 0;
	border: 2px solid #137f6e;
	background: rgba(0, 0, 0, 0.7);

	&--span-width {
		width: 100%;
	}

}

.sub-element {
	margin-top: 50px;
	margin-bottom: 50px;
}

body {
	background: image-url("place_settings.jpg");
	background-size: cover;
	background-repeat: repeat-y;
}

#application {
  position: absolute;
	width: 100%;
	height: 100%;

	.btn.btn-primary {
		border-radius: 0;
		color: #fff;
		background-color: #137f6e;
		border-color: darkslategray;
	}

	.btn.btn-primary:active, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active:focus  {
		background-color: darkslategray;
		border-color: #137f6e;
	}

	.btn.btn-primary {
		color: #fff;
		background-color: #137f6e;
		border-color: darkslategray;
	}

	.form-control {
		border-radius: 0;
	}
}

.navbar.navbar-default{
	background-color: rgba(0, 0, 0, 0.5);
	border: 0;
	margin-bottom: 0;
}

.glyphicon.glyphicon-text {
	color: white;
	font-weight: 400;
	opacity: 0;
  width: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

span.glyphicon-send::before {
	content: "\e171";
	transition: all 1s ease;
}

span.glyphicon-minus::before {
	content: "\e014";
	transition: all 1s ease;
}

.remove:hover > span.glyphicon-minus::before {
	color: red;
	content: "\2212";
	transition: all 1s ease;
}

.send:hover > span.glyphicon-send::before {
	color: lightgreen;
	content: "\e127";
	transition: all 1s ease;
}

.remove, .send {

	&:hover .glyphicon.glyphicon-text {
		opacity: 1;
    width: 70px;
	}

}

a.navbar-brand {
	padding-top: 0;
	position: absolute;
	top: 0;
}

.top-buffer {
	margin-top: 30px;
}

.sign-in, .meal {
  border: 2px solid #137f6e;
  padding: 30px;
	background: rgba(0, 0, 0, 0.7);
}

.header {
	color: white;
	margin-top: 0;
}

.meal .btn.btn-default.remove {
	border: 0;
	background-color: inherit;
	font-size: 20px;
	padding: 0;
}

.btn.btn-primary.create-meal {
	font-size: 20px;
	border-width: 2px;
}



.form-control.invalid {
	border: 1px solid maroon;
	background-color: lightpink;
}

#email {
	display: inline-block;
	width: 75%;
}

#attendee-list > .attendee-list {
	padding: 0 40px 30px;
	visibility: visible;
	opacity: 1;
}

.attendee {
	border-top: 1px solid white;;
	margin: 0 20px;
	padding: 15px 0;
}

.attendee:last-child {
	border-bottom: 1px solid white;
}

.attendee-detail {
	height: 67px;
}

.attendee-detail div {
	@include vertical-align();
	font-size: 16px;
}
